hr {
  margin: 0 10px;
}

ul li {
  list-style: none;
}

body {
  background-color: $primary50;
  font-family: Roboto, sans-serif;
  color: $blackTextHighEmphasis;
}

header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  max-width: 700px;
  margin: auto;
  padding-right: 10px;

  & img {
    margin: 0 10px 0 0;
  }

  & a {
    color: $whiteTextHighEmphasis;

    &:visited,
    &:active {
      color: $primaryTextHighEmphasis;
    }
  }
}

h1 {
  font-family: roboto, sans-serif;
  font-size: 2em;
  text-align: center;
}

p {
  font-family: roboto, sans-serif;
}

.appWrapper {
  max-width: 700px;
  margin: auto;
  padding: 0 15px 15px;
}

.avatar {
  border-radius: 50px;
}

.barInfo {

  &-wrapper {
    background-color: $primary;
    color: $primaryTextHighEmphasis;
  }

  &-element {
    margin-right: 10px;
  }
}

.logoutLink {
  text-decoration: underline;

  &:hover {
    cursor: pointer;
  }
}

.userList {
  margin-top: 40px;
  text-align: center;

  & ul {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    max-width: 240px;
    margin: 20px auto 0;

    & li {
      display: flex;
      margin-bottom: 15px;
      align-items: center;

      & img {
        border-radius: 50px;
        margin-right: 15px;
      }
    }
  }
}

.btn {
  display: flex;

  & span {
    padding: 7px;
    background-color: $secondary900;
    color: $primaryTextHighEmphasis;

    &:hover {
      cursor: pointer;
    }
  }

  &--disabled {

    & span {
      background-color: $secondary100;
      color: $blackTextDisabled;

      &:hover {
        cursor: not-allowed;
      }
    }
  }
}
.poolBtn {
  justify-content: flex-end;
}

.backBtn {
  justify-content: flex-start;
  margin-bottom: 20px;
}

.userListElements {

  & li {
    width: 100%;
    margin-bottom: 20px;
  }

  & span {
    display: flex;
    width: 100%;
    padding: 10px;
    background-color: $secondary400;

    &:hover {
      cursor: pointer;
    }
  }
}

.poolList-link {
  &,
  &:hover,
  &:active {
    text-decoration: none;
    color: $blackTextHighEmphasis;
  }
}

.poolList-element {
  margin: 0 0 25px;

  &__wrapper {
    border: 2px solid $blackTextMediumEmphasis;
  }

  &__question {
    display: flex;
    justify-content: space-between;
    padding: 10px;

    &--selected {
      background-color: $primary300;
    }
  }

  &__author {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5px;
  }

  & .votersNumber {
    margin-right: 15px;
  }
}

#addForm {
  display: flex;
  flex-direction: column;
  align-items: center;

  & label {
    margin-bottom: 10px;
  }

  & input {
    min-width: 300px;
    margin-bottom: 15px;
    font-size: 1.5em;
  }
}

.hidden {
  display: none;
}

.errorMessage {
  border: 2px solid $secondary900;
  padding: 10px;
  margin-top: 20px;
  text-align: center;
}

.leaderboard {
  display: flex;
  flex-direction: column;

  &-userInfo {
    margin: auto;
    max-width: 450px;

    &-details {
      display: flex;
      align-items: center;

      & p,
      & img {
        margin-right: 10px;
      }
    }
  }
}